[Desktop Entry]
Version=1.0
Type=Application
Name=Mint Development Settings
Comment=Settings for Mint development
Exec=mythicos-dev-settings
Terminal=false
Icon=mythicos-dev-settings
Categories=Development;
StartupNotify=false
